[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pandas = "==2.0.3"
scikit-learn = "==1.2.1"
pickleshare = "==0.7.5"
matplotlib = "*"
seaborn = "*"
altair = "*"
xgboost = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
